<h1>Editing Game Listing</h1>

<%= render 'form', game: @game %>

<ul class="list-group list-group-horizontal">
    <li class="list-group-item btn bg-success">
        <%= link_to 'Link to full game page', @game, class: "text-white" %>
    </li>
    <li class="list-group-item btn bg-success">
        <%= link_to 'Link to index page', games_path, class: "text-white" %>
    </li>
</ul>
